#!/usr/bin/make -f
#export DH_VERBOSE = 1

DESTDIR=$(CURDIR)/debian/err-stackstorm

%:
	dh $@

override_dh_installdeb:
	dh_installdeb
	echo BUILD DIRECTORY IS $(DESTDIR)
	mkdir -p $(DESTDIR)
	echo Extracting {{ _common.archive.filename }} to $(DESTDIR)
	tar xf $(CURDIR)/{{ _common.archive.filename }} --directory $(DESTDIR)
